---
title: ROBERT G. SALAZAR, M.D., INC.
---

<div id="js-parallax-window" class="parallax-window hero">
	<div class="parallax-static-content">
		<div class="u-screen-white">
			<div class="container">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<h1>Board Certified in Anesthesiology<br> &amp; Pain Management.</h1>
					<p>
						We provide compassionate commitment to the management and treatment of pain and endow hope to those who are rendered helpless by pain.
					</p>
				</div>
			</div>
		</div>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>

<div class="h-services padding-lg">
	<div class="container">
		<div class="col-xs-12 col-md-7">
			<h2>Intrathecal therapy is the most powerful therapy there is.</h2>
		</div>
		<div class="col-xs-12 col-md-5">
			<h6 class="sans">We offer:</h6>
			<ul>
				<li>Intrathecal pump implantation and management.</li>
				<li>Spinal cord stimulators.</li> 
				<li>Epidurals &amp; facets.</li>
			</ul>
			<%= link_to 'More about Neuromodulation Therapy', 'neuromodulation-therapy', :class=>'button' %>
		</div>
	</div>
</div>

<div class="h-location padding-lg">
	<div class="container">
		<div class="col-xs-12 col-sm-3 images">
			<div class="row">
				<div class="col-xs-12">
					<%= image_tag 'location/1-s.jpg'%>
				</div>
				<div class="col-xs-6">
					<%= image_tag 'location/2-s.jpg'%>
				</div>
				<div class="col-xs-6">
					<%= image_tag 'location/4-s.jpg'%>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8 col-sm-offset-1">
			<h4>We have been in Fresno as a family practice in pain managementsince 1993.</h4>
			<p>
				Dr. Salazar is a doctor fully committed to his patients, looking for patients who are fully committed to his efforts in keeping their wellness.
			</p>
			<h6 class="sans">
				We are the largest pump management practice in California.
			</h6>
			<%= link_to 'Our Location', 'location', :class=>'button' %>
		</div>
	</div>
</div>

<div class="h-about padding-lg">
	<div class="container">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<h3>About us.</h3>
			<p>
				It takes team endeavor to produce at the intensity required for our patient service-oriented practice. Our practice is privileged to have a staff that present with a high level of work ethic, due diligence, compassion, and dedication to excellent patient services while providing a optimistic and gracious atmosphere.
			</p>
		</div>
	</div>
</div>

<div class="h-cta padding-lg">
	<div class="container">
		<div class="col-xs-12 col-sm-7">
			<h5>"I will never tell you; there isn’t anything I can do for you."</h5>
			<p>
				Dr. Salazar has been “on call” since 1993 every day, “rain or shine,” even on nights, weekends, and holidays since the beginning of his practice until today.
			</p>
			<%= link_to 'Become a patient', 'patient-info', :class=>'button button-primary' %>
			<%= link_to 'Contact us', 'contact', :class=>'button' %>
			
		</div>
		<div class="col-xs-12 col-sm-5">
			<%= image_tag 'icons/large/heart.png', :class=>'u-centered' %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	  if ($("#js-parallax-window").length) {
	    parallax();
	  }
	});

	$(window).scroll(function(e) {
	  if ($("#js-parallax-window").length) {
	    parallax();
	  }
	});

	function parallax(){
	  if( $("#js-parallax-window").length > 0 ) {
	    var plxBackground = $("#js-parallax-background");
	    var plxWindow = $("#js-parallax-window");

	    var plxWindowTopToPageTop = $(plxWindow).offset().top;
	    var windowTopToPageTop = $(window).scrollTop();
	    var plxWindowTopToWindowTop = plxWindowTopToPageTop - windowTopToPageTop;

	    var plxBackgroundTopToPageTop = $(plxBackground).offset().top;
	    var windowInnerHeight = window.innerHeight;
	    var plxBackgroundTopToWindowTop = plxBackgroundTopToPageTop - windowTopToPageTop;
	    var plxBackgroundTopToWindowBottom = windowInnerHeight - plxBackgroundTopToWindowTop;
	    var plxSpeed = 0.35;

	    plxBackground.css('top', - (plxWindowTopToWindowTop * plxSpeed) + 'px');
	  }
	}

</script>