---
title: Robert G. Salazar M.D. INC.
---

<div id="js-parallax-window" class="parallax-window hero home">
	<div class="parallax-static-content">
		<div class="u-screen-white">
			<div class="container">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<h1>Board Certified in Anesthesiology<br> &amp; Pain Management.</h1>
					<p>
						We provide compassionate commitment to the management and treatment of pain and endow hope to those who are rendered helpless by pain.
					</p>
				</div>
			</div>
		</div>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>

<div class="h-ethics padding-md">
	<div class="container">
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<h5><%= link_to 'Standards &amp; Ethics', 'standards-and-ethics.html' %></h5>
			<p>
				Dr. Salazar is fully committed to his patients and expects complete cooperation in his efforts to restore wellness.
			</p>
			<%= link_to 'Our Standards', 'standards-and-ethics.html', :class=>'button button-primary u-text-center' %>
		</div>
	</div>
</div>

<div class="h-services padding-xl">
	<div class="container">
		<div class="col-xs-12 col-md-7">
			<h3>Intrathecal therapy is the most powerful pain modality available</h3>
			<%= link_to 'About Pain Management', 'pain-management.html', :class=>'button button-primary-red' %>
		</div>
		<div class="col-xs-12 col-md-5">
			<h5 class="sans">We Offer:</h5>
			<ul>
				<li>Intrathecal Pump Implantation and Management</li>
				<li>Spinal Cord Stimulators</li> 
				<li>Spine Intervention Techniques</li>
				<li>Long-term Pharmacological Management</li>
			</ul>
		</div>
	</div>
</div>

<div class="h-location padding-lg">
	<div class="container">
		<div class="col-xs-12 col-sm-3 images">
			<div class="row">
				<div class="col-xs-12">
					<% link_to 'images/location/1.jpg', :target=>'_blank' do %> 
						<%= image_tag 'location/1-s.jpg'%>
					<% end %>
				</div>
				<div class="col-xs-6">
					<% link_to 'images/location/2.jpg', :target=>'_blank' do %> 
						<%= image_tag 'location/2-s.jpg'%>
					<% end %>
				</div>
				<div class="col-xs-6">
					<% link_to 'images/location/4.jpg', :target=>'_blank' do %> 
						<%= image_tag 'location/4-s.jpg'%>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8 col-sm-offset-1">
			<h4>We are the Largest Pump Management Practice in California</h4>
			<p>
				We have been in Fresno since 1993 and have a "family practice" approach to the treatment of pain.
			</p>
			<p>
				Currently, we occupy a 12,000 sq. foot building which includes a 4,000 sq. foot surgical center (exclusively dedicated to interventional pain procedures) with billing and transcription all "in-house."
			</p>
			<%= link_to 'Our Facilities', 'our-facilities.html', :class=>'button' %>
		</div>
	</div>
</div>

<div class="h-about padding-lg">
	<div class="container">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h5>
				While Success is Based on Vision
			</h5>
			<p>
				We have learned through the years that implementation of ideas leads to growth.
			</p>
			<%= link_to 'About us', 'about.html', :class=>'button button-primary-red u-text-center' %>
		</div>
	</div>
</div>

<div class="h-cta padding-lg">
	<div class="container">
		<div class="col-xs-12 col-sm-4 pull-left">
			<%= image_tag 'icons/large/heart.png', :class=>'u-centered' %>
		</div>
		<div class="col-xs-12 col-sm-8 pull-left">
			<h5>See What We Can Do For You</h5>
			<p class="u-max-640">
				Dr. Salazar has been committed to the seamless continuity of his clinical practice since 1993.
			</p>
			<%= link_to 'How to become a patient', 'patient-info.html', :class=>'button button-primary' %>
			
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	  if ($("#js-parallax-window").length) {
	    parallax();
	  }
	});

	$(window).scroll(function(e) {
	  if ($("#js-parallax-window").length) {
	    parallax();
	  }
	});

	function parallax(){
	  if( $("#js-parallax-window").length > 0 ) {
	    var plxBackground = $("#js-parallax-background");
	    var plxWindow = $("#js-parallax-window");

	    var plxWindowTopToPageTop = $(plxWindow).offset().top;
	    var windowTopToPageTop = $(window).scrollTop();
	    var plxWindowTopToWindowTop = plxWindowTopToPageTop - windowTopToPageTop;

	    var plxBackgroundTopToPageTop = $(plxBackground).offset().top;
	    var windowInnerHeight = window.innerHeight;
	    var plxBackgroundTopToWindowTop = plxBackgroundTopToPageTop - windowTopToPageTop;
	    var plxBackgroundTopToWindowBottom = windowInnerHeight - plxBackgroundTopToWindowTop;
	    var plxSpeed = 0.5;

	    plxBackground.css('top', - (plxWindowTopToWindowTop * plxSpeed) + 'px');
	  }
	}

</script>