---
title: Neuromodulation Therapy
---

<div class="title">
	<div class="container">
		<h1>Neuromodulation Therapy</h1>
	</div>
</div>

<div id="js-parallax-window" class="parallax-window hero neuro">
	<div class="parallax-static-content">
		<div class="u-screen-white">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-lg-7">
						<h4>
							We currently manage approximately 600 intrathecal drug delivery devices.
						</h4>
					</div>
				</div>
			</div>
		</div>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>

<div class="container">
	<div class="row padding-xl scroll-on-page">
		<div class="col-xs-12 col-md-8">
		  <article>
		    <section>
		      <h4>Introduction</h4>
		      <p>
		      	Targeted intrathecal drug infusion to treat moderate to severe chronic pain has become a standard part of treatment algorithms when more conservative options fail. This therapy is well established in literature, has shown efficacy, and is an important tool for the treatment of both cancer and noncancer pain.
		      </p>
		    </section>
		    <section>
		      <h4>Methods</h4>
		      <p>
		      	The Polyanalgesic Consensus Conference is a meeting of experienced implanting physicians who strive to improve care in those receiving implantable devices. By employing data generated through an extensive literature search combined with clinical experience, this work group formulates recommendations regarding awareness, education, and mitigation of the morbidity and mortality associated with intrathecal therapy to establish the best practices for targeted intrathecal drug delivery systems.
		      </p>
		    </section>

		    <section>
		      <h4>Results</h4>
		      <p>
		      	Best practices for improved patient care and outcomes with targeted intrathecal infusion are recommended to minimize the risk of morbidity and mortality. Areas of focus include: respiratory depression, infection, granuloma, device-related complications, endocrinopathies, and human error. Specific guidance is given with each of these issues and the general use of the therapy.
		      </p>
		    </section>

		    <section>
		      <h4>Conclusion</h4>
		      <p>
		      	Targeted intrathecal drug delivery systems are associated with risks for morbidity and mortality. The panel has given guidance to treating physicians and healthcare providers to reduce the incidences of these problems and to improve outcomes when problems occur.
		      </p>
		    </section>

		  </article>
		</div>
		<div class="col-xs-12 col-md-4">
			<h5>More about Medtronic</h5>
			<div class="u-well">
				<label>Pump Info. for Patients:</label>
				<ul class="no-style">

					<li><%= link_to 'What Is a Medication Pump?', 'http://www.medtronic.com/patients/chronic-pain/device/drug-pumps/what-is-it/index.htm', :target=>'_blank' %></li>

					<li><%= link_to 'Is a Medication Pump Right for You?', 'http://www.medtronic.com/patients/chronic-pain/getting-a-device/drug-pumps/right-for-you/index.htm', :target=>'_blank' %></li>
				</ul>
				<label>Stim. Info. for Patients:</label>
				<ul class="no-style">
					<li><%= link_to 'Restore Advanced Neurostimulator', 'http://www.medtronic.com/patients/chronic-pain/device/neurostimulators/our-neurostimulators-for-pain/restoreadvanced-neurostimulator/index.htm', :target=>'_blank' %></li>
					<li><%= link_to 'Daily Living – Neurostimulators', 'http://www.medtronic.com/patients/chronic-pain/living-with/neurostimulators/daily-living/index.htm', :target=>'_blank' %></li>
				</ul>
				<label>Pump Info. for Healthcare Professionals</label>
				<ul class="no-style">

					<li><%= link_to 'About Targeted Drug Delivery', 'http://professional.medtronic.com/pt/neuro/idd/edu/about/index.htm#.Vd_sMflVgSU', :target=>'_blank' %></li>
				</ul>
				<label>Stim. Info. for Healthcare Professionals:</label>
				<ul class="no-style">
					<li><%= link_to 'Education and Training', 'http://professional.medtronic.com/pt/neuro/scs/edu/index.htm#.Vd_3ovlVgSU', :target=>'_blank' %></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="u-additional">
	<h2>Additional Resources</h2>
	<div class="row">
		
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'images/pdf/evidence_based_guidelines_for_pump_implantation.docx.pdf', :target=>'_blank' do %>
		    <h5>Pump Implantation</h5>
		    <p>Evidence-based Guidelines</p>
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'images/pdf/evidence_based_guidelines_for_spinal_cord_stimulation_therapy.docx.pdf', :target=>'_blank' do %>
		    <h5>Spinal Cord Stimulation Therapy</h5>
		    <p>Evidence-based Guidelines</p>
		  <% end %>
		</div>
		<div class="col-xs-12 col-sm-4">
		  <% link_to 'images/pdf/polyanalgesic_consensus_conference.pdf', :target=>'_blank' do %>
		    <h5>Polyanalgesic Consensus</h5>
		    <p>Conference 2012</p> 
		  <% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	  if ($("#js-parallax-window").length) {
	    parallax();
	  }
	});

	$(window).scroll(function(e) {
	  if ($("#js-parallax-window").length) {
	    parallax();
	  }
	});

	function parallax(){
	  if( $("#js-parallax-window").length > 0 ) {
	    var plxBackground = $("#js-parallax-background");
	    var plxWindow = $("#js-parallax-window");

	    var plxWindowTopToPageTop = $(plxWindow).offset().top;
	    var windowTopToPageTop = $(window).scrollTop();
	    var plxWindowTopToWindowTop = plxWindowTopToPageTop - windowTopToPageTop;

	    var plxBackgroundTopToPageTop = $(plxBackground).offset().top;
	    var windowInnerHeight = window.innerHeight;
	    var plxBackgroundTopToWindowTop = plxBackgroundTopToPageTop - windowTopToPageTop;
	    var plxBackgroundTopToWindowBottom = windowInnerHeight - plxBackgroundTopToWindowTop;
	    var plxSpeed = 0.5;

	    plxBackground.css('top', - (plxWindowTopToWindowTop * plxSpeed) + 'px');
	  }
	}

	(function (jQuery) {
	  jQuery.mark = {
	    jump: function (options) {
	      var defaults = {
	        selector: 'a.scroll-on-page-link'
	      };
	      if (typeof options == 'string') {
	        defaults.selector = options;
	      }

	      options = jQuery.extend(defaults, options);
	      return jQuery(options.selector).click(function (e) {
	        var jumpobj = jQuery(this);
	        var target = jumpobj.attr('href');
	        var thespeed = 1000;
	        var offset = jQuery(target).offset().top;
	        jQuery('html,body').animate({
	          scrollTop: offset
	        }, thespeed, 'swing');
	        e.preventDefault();
	      });
	    }
	  };
	})(jQuery);


	jQuery(function(){  
	  jQuery.mark.jump();
	});
</script>