---
title: Our Facilities
---

<!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/> -->

<div class="title">
	<div class="container">
		<h1>Our Facilities</h1>
	</div>
</div>

<div class="container padding-lg l-facilities">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h4>Main Office</h4>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p>
            7152 N. Sharon Suite 102<br>Fresno, CA 93720<br>
          </p>
        </div>
        <div class="col-xs-12 col-md-6">
          <h5 class="margin-none">559-432-6807</h5>
        </div>
      </div>
      <div class="stats">
        <ul>
          <li>8:30am - 5:00pm<span>Open</span></li>
          <li>12:00pm - 2:00pm<span>Phone Availability may be limited</span></li> 
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= image_tag 'location/11-s.jpg'%>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= image_tag 'location/5-s.jpg'%>
    </div>
  </div>
  <div class="u-divider"></div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h4 class="margin-none">Comprehensive Pain Management Center</h4>
      <h6>Suite 104</h6>
      <h5>559-447-4898</h5>
      <p>
        We currently occupy a 12,000 sq. foot building which includes a 4,000 sq. foot surgical center (exclusively dedicated to interventional pain procedures).
      </p>
      <div class="margin-md">
        <h4 class="margin-none">Billing Office</h4>
        <h6>Suite 109</h6>
        <h5>559-436-3495</h5>
        <p class="margin-none">
          Billing and transcription all "in-house."
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= image_tag 'location/10-s.jpg' %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= image_tag 'location/7-s.jpg' %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= image_tag 'location/8-s.jpg'%>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= image_tag 'location/6-s.jpg'%>
    </div>
  </div>
</div>

<div class="u-additional">
  <h2>Map</h2>
  <div id="map_canvas"></div>
</div>

<!-- <div class="u-gallery">
  <div><%= image_tag 'location/1-s.jpg', :'data-lazy'=>'images/location/1-s.jpg' %></div>
  <div><%= image_tag 'location/2-s.jpg', :'data-lazy'=>'images/location/2-s.jpg' %></div>
  <div><%= image_tag 'location/3-s.jpg', :'data-lazy'=>'images/location/3-s.jpg' %></div>
  <div><%= image_tag 'location/4-s.jpg', :'data-lazy'=>'images/location/4-s.jpg' %></div>
  <div><%= image_tag 'location/5-s.jpg', :'data-lazy'=>'images/location/5-s.jpg' %></div>
  <div><%= image_tag 'location/6-s.jpg', :'data-lazy'=>'images/location/6-s.jpg' %></div>
  <div><%= image_tag 'location/7-s.jpg', :'data-lazy'=>'images/location/7-s.jpg' %></div>
  <div><%= image_tag 'location/8-s.jpg', :'data-lazy'=>'images/location/8-s.jpg' %></div>
</div> -->

<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script> -->

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript">

  /*$('.u-gallery').slick({
    centerMode: true,
    slidesToShow: 3,
    autoplay: true,
    autoplaySpeed: 1000,
    lazyLoad: 'ondemand',
    focusOnSelect: true,
    arrows: false,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 2
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1
        }
      }
    ]
  });*/

  var bittersMap = (function () {
    var myLatlng = new google.maps.LatLng(36.8402079, -119.7591867),
        mapCenter = new google.maps.LatLng(36.8402079, -119.7591867),
        mapCanvas = document.getElementById('map_canvas'),
        mapOptions = {
          center: mapCenter,
          zoom: 16,
          scrollwheel: false,
          draggable: true,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        },
        map = new google.maps.Map(mapCanvas, mapOptions),
        contentString =
          '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">Robert G. Salazar M.D., Inc</h1>'+
          '<div id="bodyContent"'+
          '<p>Comprehensive Pain Management Center</p>'+
          '</div>'+
          '</div>',
        infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 300
        }),
        marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Robert G. Salazar M.D., Inc (USA)'
        });

    return {
      init: function () {
        map.set('styles', [{
          featureType: 'landscape',
          elementType: 'geometry',
          stylers: [
            { hue: '#ffff00' },
            { saturation: 30 },
            { lightness: 10}
          ]}
        ]);

        google.maps.event.addListener(marker, 'click', function () {
          infowindow.open(map,marker);
        });
      }
    };
  }());

  bittersMap.init();
</script>



